@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400; /* Regular weight */
    font-display: swap;
    src: url('../public/fonts/Helvetica.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700; /* Bold weight */
    font-display: swap;
    src: url('../public/fonts/Helvetica-Bold.ttf') format('truetype');
  }
}
@layer utilities {
  .text-scaled {
    font-size: calc(2rem + 5vw); /* Adjust values as needed */
  }
}
